* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    margin-bottom: 70px;
    color: black;

    }

a {
    position:relative;
    color: lightgrey;
    top: 20px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
}





.container2 {
        background-color: #0086ff;
    }


.hero {
    margin-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-position: center;
}

.rettangolo {
    height: 100px;
    background-color: lightblue;
    margin-bottom: 20px ;

}
.col-left {
    background-color: lightblue;
    float: left;
    height: 500px;
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;

}

.col-middle {
    background-color: lightblue;
    float: left;
    height: 500px;
    width: calc(60% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}

.col-right {
    background-color: lightblue;
    float: left;
    height: 500px;
    width: calc(20% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.footer {
    background-color: purple;
    height: 150px;
    margin-top: 20px;

}

