* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    margin-bottom: 70px;
    color: black;

    }

a {
    position:relative;
    color: lightgrey;
    top: 20px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
}




.hero {
    margin-bottom: 20px;
    background-image: url("img/banner.jpg");
    background-position: center;
    background-color: rosybrown;
    padding: 20px;
    padding-top: 300px;
}

.rettangolo {
    height: 100px;
    margin-bottom: 20px ;
    background-color: white;
    padding-left:  20px;

}
.col-left {
    background-color: lightblue;
    float: left;
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;


}

.col-middle {
    background-color: lightblue;
    float: left;
    width: calc(60% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    background-color: white;

}

.col-right {
    background-color: lightblue;
    float: left;
    width: calc(20% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    background-color: white;
    
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.footer {

    height: 150px;
    margin-top: 20px;

}

.col-left img { width: 100%}
.col-middle img { width: 100%}
.col-right img { width: 100%}

.padder2 {
    background-image: url(/img/banner-2.jpg);
    height: 500px;
}

.img1 {
    background-image: url(/img/img-2.jpg);
    height: 500px;
}

.img3{
    background-image: url(/img/img-3.jpg);
    height: 500px;
}

.overlay {
    background-color: transparent;
   
}

